<%= form_for @user, url: login_path do |f| %>
  <%= render 'shared/flash_messages', target: @user %>
  <div class="field">
    <%= f.label "Email:" %>
    <%= f.text_field :email %><br><br>
  </div>

  <div class="field">
  <%= f.label "Password:" %>
  <%= f.password_field :password %><br><br>
  </div>

  <%= f.submit "Log In", class: 'btn btn-info btn-md' %>
<% end %>
