<div id="the_user" class="header">
  <div class="heading">
    <h1>Profile</h1>
    <%= render :partial => 'shared/flash_messages' %>
  </div>

  <div class="obj-attr">
    <h4>Hello, <%= @user.name.titlecase %>!</h4>
    <h4>Email: <%= @user.email.downcase %></h4>
  </div>

  <div class="obj-links">
    <%= link_to "Edit Account", edit_user_path, class: 'btn btn-link btn-sm' %>
    <%= link_to "Delete Account", @user, method: :delete, data: {confirm: "Are you sure you want to delete your Account?"}, class: 'btn btn-link btn-sm' %></p>
  </div>
</div>
