<nav class="navbar navbar-expand-lg navbar-fixed-top" id="mainNav">
    <div class="container-fluid">
      <div class="navbar-header">
        <% if !!current_user %>
          <a class="navbar-brand" href="/home"> SYNC </a>
        <% else %>
          <a class="navbar-brand" href="/"> SYNC</a>
        <% end %>
      </div>
      <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="glyphicon glyphicon-align-justify"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive"> -->
          <ul class="nav navbar-nav ml-auto">
          <% if !!current_user %>
              <li class="active">
                <%= link_to "Home", home_path %>
                <%= link_to "My Profile", user_path(current_user) %>
                <%= link_to "My Events", artists_favorites_path, id: "fav_artists" %>
                <%= link_to "Create Event", artworks_ownerships_path, id: "owned_artworks" %>
                <%= link_to logout_path, method: :delete do %>
                    <span class="glyphicon glyphicon-log-out"></span> Sign Out
                <% end %>
              </li>
          <% else %>
              <!-- <li class="nav-item"><a href="/signup" class="nav-link"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li class="nav-item"><a href="/login" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Log In</a></li> -->
          <% end %>
          </ul>
      <!-- </div> -->
    </div>
</nav>
